#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use url  installation from OS installation tree.
url --url=http://deployment.homelab.io/rhel79/x64/os/
# Use text install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
eula --agreed
selinux --enforcing
timezone  Europe/Berlin
#firewall --enabled --service=ssh
reboot
# Network information
network  --bootproto=static --device=eno0 --gateway=10.5.100.254 --ip=10.5.100.10 --nameserver=10.5.100.253,10.5.100.252 --netmask=255.255.255.0 --noipv6 --onboot=on
network  --bootproto=dhcp --device=eno1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno2 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno4 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno5 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno6 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=eno7 --onboot=off --ipv6=auto
network  --hostname=uefihost


# Root password
rootpw --plaintext r3dh@t
# System services
#services --enabled="chronyd"
# System timezone
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part pv.01 --fstype="lvmpv" --ondisk=sda --size=60000
part /boot/efi --fstype="efi" --ondisk=sda --size=128 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="ext3" --ondisk=sda --size=512
volgroup vgroot --pesize=4096 pv.01
logvol swap  --fstype="swap" --size=4096 --name=lv_swap --vgname=vgroot
logvol /var  --fstype="xfs" --size=4096 --name=lv_var --vgname=vgroot
logvol /var/log  --fstype="xfs" --size=4096 --name=lv_var_log --vgname=vgroot
logvol /tmp  --fstype="xfs" --size=4096 --name=lv_tmp --vgname=vgroot
logvol /opt  --fstype="xfs" --size=4096 --name=lv_opt --vgname=vgroot
logvol /home  --fstype="xfs" --size=4096 --name=lv_home --vgname=vgroot
logvol /  --fstype="xfs" --size=51200 --name=lv_root --vgname=vgroot

%packages
@^minimal
#@compat-libraries
#@core
#@debugging
#@system-admin-tools
%end



